<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
    <title>Thiago Henrique - Um pouco sobre tudo</title>
  </head>
  <body>
    <%= partial "partials/header" %>
    
    <div class="container">
      <%= yield %>
    </div>

    <%= partial "partials/footer" %>
  </body>
</html>
