<header class="box-with-shadow">
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="d-flex flex-row">
        <div class="p-2">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <!--
        <div class="p-2">
          <a class="nav-item nav-link common-link" href="/about">Sobre</a>
        </div>
        -->
      </div>
    </nav>
  </div>
</header>