* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f8f9;
}

header, header nav {
  background-color: #ffffff  
}

a.main-link, a.common-link {
  color: rgba(0,0,0,.9);
}

.article-header h2, .article-full h2, .article-body h3 {
  padding-bottom: 10px;
  border-bottom: #eee 1px solid;
  font-family: 'Open Sans', sans-serif;
}

.article-header h2 a {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
}

.article-header h2 a:hover {
  text-decoration: underline;
}

.article-full {
  text-align: justify;
  font-weight: lighter;
}

.article-full h3 {
  margin: 1rem 0 2rem 0;
}

.article-content p, {
  margin: 15px 0 15px 0;
  text-align: justify;
  font-style: italic;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
}

.article-description {
  margin: 1rem 0 2rem 0;
}

.article-quote {
  color: #6c757d;
  font-size: 1.1rem;
  font-style: italic;
}

.article-footer {
  padding-top: 10px;
  border-top: #eee 1px solid;  
}

.box-white {
  margin: 10px 0px 10px 0;
  padding: 20px;

  background-color: #ffffff;
}

.box-rounded {
  border-radius: 5px;
}

img.profile-photo {
  margin: 0 auto;
  height: 10rem;
  border-radius: 100%;
}

.profile-body {
  text-align: center;
}

.profile-body h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1rem; 
  margin: 1rem 0 1rem 0;
  border-top: #eee 1px solid;
}

.profile-body p {
  font-size: 0.87rem;
  text-align: justify;
}

.box-with-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(200,200,200,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(200,200,200,0.75);
  box-shadow: 1px 1px 5px 0px rgba(200,200,200,0.75);
}

footer {
  position: relative;
  top: 18rem;
  width: 100%;
  line-height: 60px;
  background-color: #fff;
}

footer * {
  font-size: 0.85rem;
  font-family: 'Open Sans', sans-serif;
}

footer a, footer a:hover {
  color: rgba(0,0,0,.9);
  text-decoration: none;
}
