.article-full strong {
  font-weight: bold;
}

.references {
  clear: both  
}

p.reference {
  font-size: 0.8rem;
}

.article-full img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}